@{
    ViewData["Title"] = "Home Page";
}

<style>
    .learnmore {
        display: block;
        margin-top: 400px;
        width: 100px;
        height: 40px;
        background: #f44c5c;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding:3px;
    }

    .learnmore a {
        text-decoration: none;
        color: black;
    }

</style>

<div class="text-center learnmore">
    <a href="/course">Learn More</a>
</div>
